#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#upload {
  background-image: linear-gradient(to right,
    var(--babyblue),    
    var(--deepblue));
  animation: background-pan 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}