#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --lightgrey: #efefef;
  --skyblue: #30CAFB;
  --deepblue: #004080;
  --lightblue: #DEF1FF;
}
.pagetitle {
    background-image: linear-gradient(to right,
    var(--skyblue),    
    var(--deepblue),
    var(--lightblue));
  animation: background-pan 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.containerrim {
  border-radius: 1rem;
  background-image: linear-gradient(to right,
    var(--skyblue),    
    var(--deepblue));
  padding: 0.2rem;
  margin: 0rem;
}

.containerrim .container {
  border-radius: 0.8rem;
  margin: 0rem;
  padding: 2rem;
  background-color: white;
}

.container p {
  margin: 0rem;
  padding: 1rem;
  font-size: 1.6rem;
}

#name {
  color:var(--deepblue);
  margin: 0rem;

}

#navbar {
  display: flex;
  align-items: start;
}

.icon {
  height: 10rem;
  color: var(--deepblue);
}

#uploadwrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--lightgrey);
  border-radius: 1rem;
}

#uploadwrapper span {
  padding:1rem;
  color: var(--deepblue);
  font-weight: 600;
}