#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --lightgrey: #efefef;
  --skyblue: #30CAFB;
  --deepblue: #004080;
  --lightblue: #DEF1FF;  
  
  
}
body, html {
  margin-left:4%;
  margin-right:11%;

  scroll-behavior: smooth;
  background-image: linear-gradient(to top,
    #FFFFFF,
    #FFFFFF,
    #efefef,
    #e1f6fc,
    
    #FFFFFF,
    #FFFFFF);
  background-size: cover;  
  min-height: 100%;
}
section h1 {
  font-size: 3rem;
}
.pagetitle {
    background-image: linear-gradient(to right,
    var(--skyblue),    
    var(--deepblue),
    var(--lightblue));
  animation: background-pan 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: wrap;
}
.containerrim {
  border-radius: 1rem;
  background-image: linear-gradient(to right,
    var(--skyblue),    
    var(--deepblue));
  padding: 0.2rem;
  margin: 0rem;
}

.containerrim .container {
  border-radius: 0.8rem;
  margin: 0rem;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;
}

.container p {
  margin: 0rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#name {
  color:var(--deepblue);
  margin: 0rem;

}

#space {
  color:white;
  margin: 0rem;
}

#navbar {
  font-size: 1.2rem;
  display: flex;
  align-items: start;
  align-content: center;
  margin: auto;
}

.icon {
  height: 10rem;
  color: var(--deepblue);
}

.icon:hover {
  height: 10rem;
  color: var(--skyblue);
  transition: 0.5s;
}

#uploadwrapper {
  padding: 3rem;
  
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--lightgrey);
  border-radius: 1rem;
}

#uploadwrapper span {
  padding:1rem;
  color: var(--deepblue);
  font-weight: 600;
  font-size: 1rem;
}

input[type="file"] {
  display: none;
}

.uploaddiv button {
  margin-top: 1rem;
  background-color: var(--deepblue);
}

.loaderwrapper {
  display: flex;
  padding: 0rem;
  justify-content: center;
  margin: auto;
}

.loaderwrapper .loading {
  padding: 2rem;
}

.summary {
  margin: 0rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
  text-align: left;
}

#summaryrim {
  outline-color: var(--deepblue);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0rem;
}

.summaryrim {
  border-radius: 1rem;
  background-color: var(--deepblue);
  padding: 0.2rem;
  margin: 0rem;
}

.summaryrim .summary {
  border-radius: 0.8rem;
  margin: 0rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}

/* ATTEMPTs AT STYLING TABS :(
/* .tab {
  background-color: #30CAFB;
} */

/* .tabs-container {
  >div:first-child { // modifies the background color
    background-color: #f6f6f6 !important;
  }

  >div:last-child { // changes the distance between tabs and content
    margin-top: 10px;
  }

  .tab {
    >div>div { // modifies the font size of the tab labels 
      font-size: 10px;

      svg { // modifies the color of SVG icons
        fill: #626262 !important;
      }
    }
  }
} */

.sumtext {
  padding-top: 1.5rem;
  display: flex;
  align-items: start;
  text-align: left;
}

#bulletwrapper {
  padding: 2rem;
  margin: 0rem;
  display: flex;
  flex-direction: column; 
  line-height: 1.3rem;
  align-items: start;
  background-color: rgb(231, 231, 231);
  border-radius: 2rem;
}

#defwrapper {
  padding: 2rem;
  margin: 0rem;
  display: flex;
  flex-direction: column; 
  line-height: 1.3rem;
  align-items: start;
  background-color: rgb(231, 231, 231);
  border-radius: 2rem;
}

.deftext {
  padding-top: 0.5rem;
  display: flex;
  align-items: start;
  text-align: left;
}

#probwrapper {
  padding: 2rem;
  margin: 0rem;
  display: flex;
  flex-direction: column; 
  line-height: 1.3rem;
  align-items: start;
  background-color: rgb(231, 231, 231);
  border-radius: 2rem;
}

.probtext {
  padding-top: 1.5rem;
  display: flex;
  align-items: start;
  text-align: left;
}

.tabs {
  padding: 0rem;
  margin: 0rem;
}
.tabs h3 {
  font-size: 2rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
}

.tabsrim {
  border-radius: 2rem;
  background-image: linear-gradient(to right,
    var(--skyblue),    
    var(--deepblue));
  padding: 0.2rem;
  margin: 0rem;
}
.studtext {
  padding-top: 0.5rem;
  display: flex;
  align-items: start;
  text-align: left;
}

.navbutton {
  background-color: var(--deepblue);
  position: absolute;
  right: 0;
  top:2.5rem;
  font-size: 1.2rem;
  margin-right: 2rem;
  line-height: normal;
  border-radius: 2rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}